<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    <h1>Upload Excel File </h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <a href="{{ url_for('show_kpis', filename='preuploaded_copyright.xlsx') }}" class="btn btn-primary">View KPIs for Preuploaded File</a>
    <div class="container">
</body>
</html>
