<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPIs</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>KPIs and Visualizations</h1>
            <form action="" method="get" id="filter-form">
                <label for="department">Select Department:</label>
                <select name="department" id="department" onchange="document.getElementById('filter-form').submit()">
                    <option value="All" {% if selected_department == 'All' %}selected{% endif %}>All</option>
                    {% for dept in departments %}
                    <option value="{{ dept }}" {% if dept == selected_department %}selected{% endif %}>{{ dept }}</option>
                    {% endfor %}
                    <option value="Unknown" {% if selected_department == 'Unknown' %}selected{% endif %}>Onbekend</option>
                </select>
                
                <label for="classification">Select Classification:</label>
                {% for cls in classifications %}
                <div>
                    <input type="checkbox" name="classification" value="{{ cls }}" id="classification_{{ loop.index }}" {% if cls in selected_classifications %}checked{% endif %} onchange="document.getElementById('filter-form').submit()">
                    <label for="classification_{{ loop.index }}">{{ cls }}</label>
                </div>
                {% endfor %}
            
                <label for="status">Select Status:</label>
                <select name="status" id="status" onchange="document.getElementById('filter-form').submit()">
                    <option value="All" {% if selected_status == 'All' %}selected{% endif %}>All</option>
                    {% for status in statuses %}
                    <option value="{{ status }}" {% if status == selected_status %}selected{% endif %}>{{ status }}</option>
                    {% endfor %}
                </select>
            
                <label for="pagecount_toggle">Pagecount > 50:</label>
                <input type="checkbox" name="pagecount_toggle" id="pagecount_toggle" {% if pagecount_toggle %}checked{% endif %} onchange="document.getElementById('filter-form').submit()">
            </form>
            

            <form action="{{ url_for('download_filtered_dataframe') }}" method="post">
                <input type="hidden" name="department" value="{{ selected_department }}">
                <input type="hidden" name="classification" value="{{ selected_classifications|join(',') }}">
                <input type="hidden" name="status" value="{{ selected_status }}">
                <input type="hidden" name="pagecount_toggle" value="{{ pagecount_toggle }}">
                <button type="submit">Download</button>
            </form>
        </header>
        
        <section class="summary">
            <div class="kpi-box">
                <h3>Classification Counts</h3>
                <p>{% for classification, count in classification_counts.items() %}<strong>{{ classification }}:</strong> {{ count }}<br>{% endfor %}</p>
            </div>
            <div class="kpi-box">
                <h3>Department Entries</h3>
                {% for department, data in department_classification_counts.items() %}
                <p><strong>{{ department }}</strong>: {{ data['total'] }} entries</p>
                <ul class="classification-list">
                    {% for classification, count in data['classifications'].items() %}
                    <li>{{ classification }}: {{ count }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            <div class="kpi-box">
                <h3>ML Prediction Counts</h3>
                <p>{% for prediction, count in ml_prediction_counts.items() %}<strong>{{ prediction }}:</strong> {{ count }}<br>{% endfor %}</p>
            </div>
            <div class="kpi-box">
                <h3>Type Counts</h3>
                <p>{% for type, count in type_counts.items() %}<strong>{{ type }}:</strong> {{ count }}<br>{% endfor %}</p>
            </div>
            <div class="kpi-box">
                <h3>Status Counts</h3>
                <p>{% for status, count in status_counts.items() %}<strong>{{ status }}:</strong> {{ count }}<br>{% endfor %}</p>
            </div>
            <div class="kpi-box">
                <h3>Total Pages * Students</h3>
                <p>{{ total_pages_students }}</p>
            </div>
            <div class="kpi-box">
                <h3>Average Pages * Students</h3>
                <p>{{ avg_pages_students }}</p>
            </div>
            <div class="kpi-box">
                <h3>Average Page Count</h3>
                <p>{{ avg_pagecount }}</p>
            </div>
            <div class="kpi-box">
                <h3>Average Word Count</h3>
                <p>{{ avg_wordcount }}</p>
            </div>
            <div class="kpi-box">
                <h3>Picture Count</h3>
                <p>{{ picture_count }}</p>
            </div>
        </section>
        
        <section class="highest-scoring">
            <h2>Highest Scoring Materials</h2>
            <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Page Count</th>
                        <th>Classification</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Course Code</th>
                        <th>ML Prediction & Reliabilityy</th>
                        <th>Type</th>
                        <th># Students Registered</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in highest_scoring %}
                    <tr>
                        <td><a href="{{ item['url'] }}" target="_blank">{{ item['Filename'] }}</a></td>
                        <td>{{ item['pagecount'] }}</td>
                        <td>{{ item['Classification'] }}</td>
                        <td>{{ item['Status'] }}</td>
                        <td>{{ item['Owner'] }}</td>
                        <td>{{ item['Course code'] }}</td>
                        <td>{{ item['ML Prediction'] }} - {{ item['Reliability'] }}%</td>
                        <td>{{ item['Type'] }}</td>
                        <td>{{ item['#students_registered'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </section>

        <section class="charts">
            <h2>Visualizations</h2>
            <img src="{{ image_path }}" alt="KPIs Visualizations">
        </section>

        <section class="highest-per-course">
            <h2>Highest Per Course</h2>
            <div>{{ highest_per_course|safe }}</div>
        </section>
    </div>
</body>
</html>
